<style>
*{
    box-sizing: border-box;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(119,9,121,1) 51%, rgba(89,0,255,1) 100%);
    font-family: "Arial", sans-serif;
    padding: 50px;
}
.container{
    margin: 20px auto;
    padding: 10px;
    width: 50%;
    height: 50%;
    
    background-color: #DDDDDD;
    border-radius: 5px;
}
 h1{
     width: 70%;
    color: #777;
    font-size: 32px;
    margin: 28px auto;
    margin-bottom: 20px;
    text-align: center;
    /*padding-top: 40px;*/
}
form{
    /*padding: 15px;*/
    text-align: center;
    background-color: #DDDDDD;
}
input{
    padding: 12px 0;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid transparent;
    text-align: center;
    width: 90%;
    font-size: 16px;
    transition: border .2s, background-color .2s;
}
form .field{
    background-color: #ECF0F1;
}
form .field:focus {
    border: 2px solid #3498DB;
}
form .btn{
    background-color: #3498DB;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
}
form .btn:hover,
form .btn:active {
    background-color: #FFFFFF;
    border: 2px solid #1F78B4;
}
.pass-link{
    text-align: center;
}
.pass-link a:link,
.pass-link a:visited{
    font-size: 12px;
    color: #777;
}
</style>
<div class="container">
    <h1>RTAF to da moon</h1>
<form  action = "" method="POST">
    {% csrf_token %}
    {{ form.username }}
    {{ form.password }}
    <input type="submit" value="Launcher..." class="btn">
</form>
<div class="pass-link">
    <a href="#" >Lost your mind?</a>
</div>	
</div>