{% extends "_base.html"%}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">  
    <div class="col" >
      <h5 class="question_text">{{ display_q.0.name }}</h5>
      <a class="btn btn-outline-secondary mt-3" href="{% url 'Line:Question' 1 %}"> คำถามข้อที่ : 1 </a>
    </div>
    <div class="col">
      <h5 class="question_text">{{ display_q.1.name }}</h5>
      <a class="btn btn-outline-secondary mt-3" href="{% url 'Line:Question' 2 %}"> คำถามข้อที่ : 2 </a>
    </div>
    <div class="col">
      <h5 class="question_text">{{ display_q.2.name }}</h5>
      <a class="btn btn-outline-secondary mt-3" href="{% url 'Line:Question' 3 %}"> คำถามข้อที่ : 3 </a>
    </div>
    <div class="col">
      <h5 class="question_text">{{ display_q.3.name }}</h5>
      <a class="btn btn-outline-secondary mt-3" href="{% url 'Line:Question' 4 %}"> คำถามข้อที่ : 4 </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h5 class="question_text">{{ display_q.4.name }}</h5>
      <a class="btn btn-outline-secondary mt-3" href="{% url 'Line:Question' 5 %}"> คำถามข้อที่ : 5 </a>
    </div>
    <div class="col">
      <h5 class="question_text">{{ display_q.5.name }}</h5>
      <a class="btn btn-outline-secondary mt-3" href="{% url 'Line:Question' 6 %}"> คำถามข้อที่ : 6 </a> 
    </div>
    <div class="col">
      <h5 class="question_text">{{ display_q.6.name }}</h5>
      <a class="btn btn-outline-secondary mt-3" href="{% url 'Line:Question' 7 %}"> คำถามข้อที่ : 7 </a> 
    </div>
    <div class="col">
      <h5 class="question_text">{{ display_q.7.name }}</h5>
      <a class="btn btn-outline-secondary mt-3" href="{% url 'Line:Question' 8 %}"> คำถามข้อที่ : 8 </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h5 class="question_text">{{ display_q.8.name }}</h5>
      <a class="btn btn-outline-secondary mt-3" href="{% url 'Line:Question' 9 %}"> คำถามข้อที่ :  9</a>
    </div>
    <div class="col">
      <h5 class="question_text">{{ display_q.9.name }}</h5>
      <a class="btn btn-outline-secondary mt-3" href="{% url 'Line:Question' 10 %}"> คำถามข้อที่ :  10</a>
    </div>
  </div>
  <hr>
  {% comment %} <div class="row">
    <div class="col">
      <a class="btn btn-outline-secondary mt-3" href="{% url 'Line:Question' 11 %}"> เตรียมความพร้อม</a>
    </div>
  </div> {% endcomment %}
</div>
{% endblock %}
